{%extends 'base.html'%}

{%block content%}
{%if request.user.is_authenticated%}
<div class="parallax-container">
     <h1 class="header center white-text text-lighten-2 ">Bienvenido/a</h1>
        <div class="row center">
          <h3 class="header white-text col s12 light">{{request.user.first_name}}</h3>
		  <h5 class="header white-text col s12 light">Aquí encontraras toda la información acerca de tu cosecha</h5>
        </div>
    <div class="parallax"><img src="/media/img/fondo_perfil.jpg"></div>
  </div>


 <div class="section">
			<div class="row">
				<div class="col s6 m6 l3">
				<div class="card">
					<div class="card-image">
					<img src="/media/img/history.png">
					<span class="black-text card-title">Historial</span>
					</div>
					<div class="card-content">
					<p>Aqui podras obtener el historial completo de los ultimos meses que actividades</p>
					</div>
					<div class="card-action">
					<a href="#">Mas información</a>
					</div>
				</div>
				</div>
				
				<div class="col s6 m6 l3">
				<div class="card">
					<div class="card-image">
					<img src="/media/img/new.png">
					<span class="black-text card-title">Agrega un lote</span>
					</div>
					<div class="card-content">
					<p>En esta seccion podras agregar lotes para monitorear las estadisticas de los lotes</p>
					</div>
					<div class="card-action">
					<a href="#">Mas información</a>
					</div>
				</div>
				</div>

				<div class="col s6 m6 l3">
				<div class="card">
					<div class="card-image">
					<img src="/media/img/search.png">
					<span class="black-text card-title">Buscar</span>
					</div>
					<div class="card-content">
					<p>Podras realizar una busqueda de las actividades que has realizado</p>
					</div>
					<div class="card-action">
					<a href="#">Mas información</a>
					</div>
				</div>
				</div>

				<div class="col s6 m6 l3">
				<div class="card">
					<div class="card-image">
					<img src="/media/img/msg.png">
					<span class="black-text card-title">Lotes listos</span>
					</div>
					<div class="card-content">
					<p>Información sobre los lotes que estan listos para ser cosechados</p>
					</div>
					<div class="card-action">
					<a href="#">Mas información</a>
					</div>
				</div>
				</div>

				<div class="col s6 m6 l3">
				<div class="card">
					<div class="card-image">
					<img src="/media/img/sample-1.jpg">
					<span class="card-title">Card Title</span>
					</div>
					<div class="card-content">
					<p>I am a very simple card. I am good at containing small bits of information.
					I am convenient because I require little markup to use effectively.</p>
					</div>
					<div class="card-action">
					<a href="#">This is a link</a>
					</div>
				</div>
				</div>

				<div class="col s6 m6 l3">
				<div class="card">
					<div class="card-image">
					<img src="/media/img/sample-1.jpg">
					<span class="card-title">Card Title</span>
					</div>
					<div class="card-content">
					<p>I am a very simple card. I am good at containing small bits of information.
					I am convenient because I require little markup to use effectively.</p>
					</div>
					<div class="card-action">
					<a href="#">This is a link</a>
					</div>
				</div>
				</div>


				<div class="col s6 m6 l3">
				<div class="card">
					<div class="card-image">
					<img src="/media/img/sample-1.jpg">
					<span class="card-title">Card Title</span>
					</div>
					<div class="card-content">
					<p>I am a very simple card. I am good at containing small bits of information.
					I am convenient because I require little markup to use effectively.</p>
					</div>
					<div class="card-action">
					<a href="#">This is a link</a>
					</div>
				</div>
				</div>

				<div class="col s6 m6 l3">
				<div class="card">
					<div class="card-image">
					<img src="/media/img/sample-1.jpg">
					<span class="card-title">Card Title</span>
					</div>
					<div class="card-content">
					<p>I am a very simple card. I am good at containing small bits of information.
					I am convenient because I require little markup to use effectively.</p>
					</div>
					<div class="card-action">
					<a href="#">This is a link</a>
					</div>
				</div>
				</div>

		


			</div>
</div>



{%else%}
	<h2>Inicia sesion</h2>
{%endif%}

{%endblock content%}